.boxkatalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin :2rem 0rem 2rem 0rem;
}
/* .kwek{
    display:flex;
    margin-left: 0rem 3rem 0rem 3rem;
    border-color: grey;
    border-style: solid;
    border-width: 1.5px;
    width: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
} */
.kwek a{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    font-size: 70px;
}
.card{
    display: flex;
    justify-content: space-around;
    margin-left: 0rem 3rem 0rem 3rem;
}